.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  height: 80vh;
  width: 310px;
  margin-left: 250px;
  padding: 20px; 
  justify-content: flex-start; 
}
.search{
  margin-left: 10px;
 
}
h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;  
  margin-right: 30px;
}
button{
  margin-left: 3px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
  
}

button:hover {
  background-color: #5445a0;
}
input{
  padding: 1px;
  border-radius: 4px;
  text-align: center;
}

